absl-py==0.12.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1614280892404/work
alabaster==0.7.12
allennlp==0.8.4
ase==3.21.1
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
awscli==1.19.51
Babel==2.9.0
blis==0.2.4
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1618361383355/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1618355426583/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1611555765219/work
certifi==2020.12.5
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413861439/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093490430/work
click==7.1.2
colorama==0.4.3
conllu==0.11
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851476134/work
cycler==0.10.0
cymem==2.0.5
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1618380339289/work
dgl==0.6.1
docutils==0.15.2
editdistance==0.5.3
filelock==3.0.12
flaky==3.7.0
Flask==1.1.2
Flask-Cors==3.0.10
fsspec==0.9.0
ftfy==6.0
future==0.18.2
fuzzywuzzy==0.18.0
gensim @ file:///tmp/build/80754af9/gensim_1613994449442/work
gevent==21.1.2
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1599168892172/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1617123880036/work
google-auth-oauthlib==0.4.4
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1608136972897/work
google-cloud-storage==1.19.0
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1611954251609/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1608141079349/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1616710776643/work
googledrivedownloader==0.4
greenlet==1.0.0
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1617837741697/work
h5py==3.2.1
huggingface-hub==0.0.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagesize==1.2.0
iniconfig==1.1.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jsonnet==0.17.0
jsonpickle==2.0.0
kiwisolver==1.3.1
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mkl-fft==1.3.0
mkl-random==1.2.0
mkl-service==2.3.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1610319019165/work
murmurhash==1.0.5
networkx==2.5.1
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1617844445703/work
numba==0.53.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
numpydoc==1.1.0
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
overrides==3.1.0
packaging==20.9
pandas==1.2.4
parsimonious==0.8.1
Pillow @ file:///tmp/build/80754af9/pillow_1617383569452/work
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
protobuf==3.15.8
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.8.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291447907/work
pytest==6.2.3
python-dateutil==2.8.1
python-Levenshtein==0.12.2
python-louvain==0.15
pytorch-lightning==1.2.7
pytorch-pretrained-bert==0.6.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.3.1
rdflib==5.0.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1617644422046/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib==1.3.0
responses==0.13.2
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1618355402893/work
sacremoses==0.0.45
scikit-learn==0.24.1
scipy @ file:///tmp/build/80754af9/scipy_1616703172749/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smart-open @ file:///tmp/build/80754af9/smart_open_1617288398023/work
snowballstemmer==2.1.0
spacy==2.1.9
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
srsly==1.0.5
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
thinc==7.0.8
threadpoolctl==2.1.0
tokenizers==0.10.3
toml==0.10.2
torch==1.7.1
torch-cluster==1.5.9
torch-geometric==1.7.0
torch-scatter==2.0.6
torch-sparse==0.6.9
torch-spline-conv==1.2.1
torchaudio==0.7.0a0+a853dff
torchmetrics==0.2.0
torchvision==0.8.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1617680194207/work
transformers==4.9.2
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
Unidecode==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==1.0.1
word2number==1.1
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1610354134018/work
zope.event==4.5.0
zope.interface==5.3.0
